# ==========================================
# 1. DONNÉES ET MODÈLES (CRITIQUE)
# ==========================================
# On ne pousse jamais les données brutes ou générées sur GitHub
data/raw/*
data/processed/*
data/train_test/*

# On ne pousse pas les modèles lourds (optionnel, mais recommandé)
models/*.pkl
models/*.joblib


# ==========================================
# 2. PYTHON ET ENVIRONNEMENTS VIRTUELS
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/

# ==========================================
# 3. JUPYTER NOTEBOOKS
# ==========================================
.ipynb_checkpoints/

# ==========================================
# 4. FICHIERS TEMPORAIRES LATEX (RAPPORT)
# ==========================================
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg


# ==========================================
# 5. IDE ET SYSTÈME D'EXPLOITATION
# ==========================================
# VS Code
.vscode/
